/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2022 SZRSoft
 */

/*-----------------------------------*\
  #MAX WIDTH   
\*-----------------------------------*/

@media (max-width: 1440px) {

  .hero { --section-padding: 20px }

  :root {
    --headline-md: 3rem;
  }

  .hero .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero .hero-img {
    width: 500px;
  }
}

@media (max-width: 1024px) {

  :root {
    --headline-lg: 4rem;
  }

  .hero.section { padding-bottom: 30px; }

  .top-templates .slider .slider-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-top .container {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .footer-top .footer-list {
    margin-top: 24px;
  }

  .footer-top .footer-list-title {
    margin-block-end: 0;
  }

  .header .logo { display: none; }

  .logo.mini { display: block; }

  .hero .hero-img { width: 400px; }
}

@media (max-width: 768px) {

  .container { padding-inline: 12px !important; }

  .header .navbar { 
    border-block-end: 3px solid var(--secondary-color); 
    backdrop-filter: blur(5px); 
    background: linear-gradient(rgba(75,0,130,.1), rgba(131,21,219,.1));
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-inline: 16px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    overflow: hidden;
  }

  .header .logo.mini { display: none; }

  .header .logo { display: block; text-align: center;}

  .header .container .navbar-list { display: inline; }

  .navbar-list .navbar-link { text-align: center;}

  .header .header-action .icon.menu { display: block; }
}

@media (max-width: 646px) {

  :root {
    --section-padding: 12px !important;
  }

  .hero { --section-padding: 12px;}

  .hero .hero-title { line-height: 1.25; }

  .hero .hero-text { display: none; }

  .top-templates .slider .slider-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {

  :root {
    --section-padding: 12px !important;
  }

  .hero { --section-padding: 12px;}

  .hero .hero-title { line-height: 1.25; }

  .hero .hero-text { display: none; }

  .hero .hero-img { width: 300px; }

  .top-templates .slider .slider-container {
    grid-template-columns: 1fr;
  }
}