/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2022 SZRSoft
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
/*#region custom  */

.dark:root, :root {    
        /*#region typography */
        --ff-la-belle-aurore: 'La Belle Aurore', sans-serif;
        --ff-poppins: 'Poppins', sans-serif;
    
        --headline-lg: 3.6rem;
        --headline-md: 2.6rem;
        --title-lg: 2rem;
        --title-md: 1.8rem;
        --title-sm: 1.7rem;
        --body-lg: 2rem;
        --body-md: 1.7rem;
        --label-lg: 1.5rem;
        --label-md: 1.4rem;
    
        --fw-700: 700;
        --fw-600: 600;
        --fw-500: 500;
        /*#endregion typography  */
    
        /*#region spacing */
        --section-padding: 70px;
        /*#endregion spacing  */
    
        /*#region borderradius */
        --radius-circle: 50%;
        --radius-pill: 100px;
        --radius-12: 12px;
        --radius-8: 8px;
        --radius-6: 6px;
        /*#endregion borderradius */
    
        /*#region transition */
        --transition-1: .25s ease;
        --transition-2: .5s ease;
        /*#endregion transition  */
}

:root {
    /*#region colors*/
    --app-container: #f3f6fd;
    --main-color: rgb(75,0,130);
    --secondary-color: #8315DB;
    --constrast-color: #fff;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #ff1c2e;
    --message-btn: #fff;
    --green-cyan: hsla(161, 94%, 30%, 1);
    --azure: #007FFF;
    --alice-blue: #F0F8FF;
    --electric-crimson: #FF003F;
    --amber-yellow: #FFBF00;
    /*#endregion colors */

    /*#region box-shadows  */
    --shadow-1: 0 2px 6px 0 rgba(75,0,130, 0.2),
                0 24px 20px -24px rgba(71, 82, 107, 0.1);

    --shadow-2:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    --shadow-3:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --shadow-4:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --shadow-5:rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

    /*#endregion box-shadows  */

    /*#region gradients */
    --gradient-1: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    /*#endregion gradients  */
}

.dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color:   rgb(252, 250, 255) ;
    --secondary-color: #8315DB;
    --constrast-color: #1f1c2e;
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, 0.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
    --green-cyan: hsla(161, 94%, 30%, 1);

    /*#region box-shadows  */
    --shadow-1:rgba(60, 0, 78, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.397) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    --shadow-2:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;

    --shadow-3:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --shadow-4:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --shadow-5:rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    /*#endregion box-shadows  */

    /*#region gradients */
    --gradient-1: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
    /*#endregion gradients  */
}

/*#endregion custom  */

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
/*#region reset  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style-type: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
    text-decoration: none;
    color: inherit;
}

img { height: auto;}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon {
    pointer-events: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
    font-family: var(--ff-poppins);
    font-size: 10px;
}

body {
    background-color: var(--app-container);
    transition: var(--transition-2);
    color: var(--main-color);
    font-size: 1.6rem;
    line-height: 1.5;
    z-index: 1;
}


::-webkit-scrollbar {width: 10px;}

::-webkit-scrollbar-track {background-color: transparent;}

::-webkit-scrollbar-thumb {background-color: var(--secondary-color); border-radius: 6px;}

::-webkit-scrollbar-thumb:hover {background-color: hsl(0, 0%, 70%);}


/*#endregion reset */

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
/*#region reused  */

.section { padding: var(--section-padding); }

.container {padding-inline: 36px;}

.headline-lg { font-size: var(--headline-lg); }
.headline-md { font-size: var(--headline-md); }

.title-lg { font-size: var(--title-lg); }
.title-md { font-size: var(--title-md); }
.title-sm { font-size: var(--title-sm); }

.body-lg { font-size: var(--body-lg); }
.body-md { font-size: var(--body-md); }

.label-lg { font-size: var(--label-lg); }
.label-md { font-size: var(--label-md); }

.headline-md,
.title-lg,
.title-md,
.title-sm {
    color: var(--main-color);
    font-weight: var(--fw-600);
}

.link\:hover:is(:hover, :focus-visible) { color: var(--secondary-color); }

.text-center { text-align: center; }

.btn {
    background-color: var(--secondary-color);
    color: var(--white);
    max-width: max-content;
    font-size: var(--body-md);
    font-weight: var(--fw-600);
    padding: 8px 20px;
    border-radius: var(--radius-pill);
    display: flex;
    align-items: center;
    gap: 4px;
    transition: var(--transition-1);
}

.btn-icon {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-primary {
    background: var(--secondary-color);
    border-radius: var(--radius-pill);
    transition: color var(--transition-1);
    color: var(--constrast-color);
    box-shadow: var(--shadow-1);
}

.btn-primary:is(:hover, :focus-visible){
    background: none;
    border: var(--main-color) 3px solid;
    color: var(--main-color);
}

.btn-icon ion-icon {
    font-size: 32px;
}

.icon:is(:hover, :focus-visible) {
    background-color: var(--secondary-color);
}

.icon {
    width: max-content;
    color: var(--primary-color);
    transition: var(--transition-2);
    border-radius: var(--radius-circle);
    padding: 12px;
    font-size: 24px;
}
/*#endregion reused  */

/*-----------------------------------*\
  #SPLASH
\*-----------------------------------*/
/*#region splash  */
.splash {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: var(--app-container);
    transition: all ease-in-out 1000ms;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash.fade {
    top: -100%;
    opacity: 0;
}

.splash img {
    width: 30%;
    filter: drop-shadow(0 0 0.75rem gray);
    animation: heart .6s linear infinite;
}

@keyframes heart {
    0% {
        transform: scale(1.07);
    }
    80% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.8);
    }
}
/*#endregion splash  */

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
/*#region header */

.logo {
    font-size: var(--headline-lg);
    font-family: var(--ff-la-belle-aurore);
    background: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--app-container);
    padding-block: 16px;
    z-index: 4;
}

.header.active {
    position: fixed;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-action {
    display: flex;
    gap: 8px;
}

.header-action .icon {
    color: var(--primary-color);
}

.header-action .icon:is(:hover, :focus-visible) {
    background: transparent;
    transition: all ease .5s;
    transform: rotate(360deg);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    font-weight: var(--fw-600);
    padding: 10px 13px;
    position: relative;
    transition: var(--transition-2);
}

.navbar-link:is(:hover, :focus-visible) {
    transform: scale(1.1);
}

.navbar-link:is(:hover, :focus-visible)::after {
    width: 100%;
}

.navbar-link::after {
    content: '';
    transition: var(--transition-1);
    background-color: var(--secondary-color);
    border-radius: var(--radius-6);
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}


.navbar-list {
    display: flex;
    gap: 24px;
}

.navbar-link.active::after {
    background-color: var(--main-color);
    width: 100%;
}

.btn-action {
    border-radius: var(--radius-12);
    background: var(--ruby);
    color: var(--white);
    padding: 10px 12px;
    transition: var(--transition-2);
}

.btn-action:is(:hover, :focus-visible) {
    background-color: var(--regular-light-purple);
    color: var(--white);
}

/*#endregion header  */

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
/*#region hero  */

.hero {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    --section-padding: 180px 70px;
}

.hero .container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container .btn-icon {
    margin: 24px auto;
}

.hero-title {
    line-height: 2;
    background: var(--gradient-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    line-height: 1.5;
    color: var(--text-color);
}

.hero-img {
    position: relative;
    height: 600px;
    transition: var(--transition-2);
    animation: upToDown 2s linear 0s infinite normal;
    filter: drop-shadow(0 0 0.75rem rebeccapurple);
}

.hero-img:is(:hover, :focus-visible) {
    animation: rotateX 2s linear 0s infinite normal;
}

@keyframes rotateX {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    0% {transform: rotateY(360deg);}
}

@keyframes upToDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0); }
}

/*#endregion hero  */

/*-----------------------------------*\
  #TOP TEMPLATES
\*-----------------------------------*/
/*#region top-templates */
.top-templates {
    width: 100%;
}

.top-templates .title-wrapper {
    margin-bottom: 24px;
}

.slider .slider-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 36px;
    row-gap: 36px;
    overflow: hidden;
    padding: 2px;
}

.slider-container .slider-item {
    width: 100%;
    padding: 12px;
    overflow: hidden;
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-1);
}

.slider-item:is(:hover, :focus-visible) img {
    transform: scale(1.2);
}

.slider-item .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: var(--radius-8);
    cursor: pointer;
    position: relative;
}

.slider-item .img-wrapper img {
    transition: var(--transition-2);
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.slider-item .content-wrapper {
    height: auto;
    text-align: center;
    transform: translateY(100%);
    position: absolute;
    max-height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    padding: 12px;
    overflow: hidden;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
    animation: slideDown var(--transition-2);
}

@keyframes slideDown {
    0% { transform: translateY(0);}
    100% {transform: translateY(100%);}
}

.slider-item .content-description {
    overflow: auto;
    display: block;
    height: 100px;
}

.slider-item .content-wrapper.active {
    transition: all ease var(--transition-1);
    transform: translateY(0);
    animation: slideUp var(--transition-2);
    display: block;
}

@keyframes slideUp {
    0% { transform: translateY(100%);}
    100% {transform: translateY(0);}
}

.slider-item-title {
    font-weight: var(--fw-600);
    margin-bottom: 12px;
}

.slider-item-description {
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-item-description .btn-icon{
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-2);
}

.slider-item .btn-icon:is(:hover, :focus-visible) {
    transform: scale(1.1);
    color: var(--secondary-color);
}

/*#endregion top-templates  */

/*-----------------------------------*\
  #SSS
\*-----------------------------------*/
/*#region sss  */

.qna-container {
    display: grid;
    row-gap: 36px;
}

.qna-card {
    border-radius: var(--radius-12);
    padding: 12px;
    box-shadow: var(--shadow-2);
}

.qna-card .qna-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--tertiary-color);
}

.qna-btn ion-icon { flex-shrink: 0; }

.qna-header .qna-btn { color: var(--regular-light-purple); background: none; }

.qna-content { color: var(--regular-purple); }

.qna-content { display: none; }

.qna-card.active .qna-content { display: block; }

.qna-card.active .qna-btn ion-icon { transform: translateY(-10px) rotate(.5turn); }

/*#endregion sss  */

/*-----------------------------------*\
  #NEWSTELLER
\*-----------------------------------*/

.newsteller {
    position: relative;
    margin-block-end: -200px;
}

.newsteller-card {
    position: relative;
    background-color: var(--oxford-blue-2);
    padding: 48px 24px;
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-1);
    overflow: hidden;
    z-index: 1;
}

.newsteller-card .card-text {margin-block: 8px 32px;}

.newsteller .input-field {
    background-color: var(--oxford-blue-2);
    font-size: var(--body-md);
    color: var(--white);
    padding: 12px 24px;
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-pill);
    outline: none;
    margin-block-end: 16px;
}

.newsteller .input-field::placeholder{color:var(--manatee)}

.newsteller .input-field:focus {box-shadow: var(--shadow-4);}

.newsteller .btn {margin-inline: auto;}

.newsteller .bg-icon {
    position: absolute;
    font-size: 7.2rem;
    opacity: .05;
    z-index: -1;
}

.newsteller .bg-icon-1 {
    top: -24px;
    left: -24px;
    transform: rotate(-45deg);
}

.newsteller .bg-icon-2 {
    bottom: -16px;
    right: -16px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
/*#region footer  */

.footer-top {
    padding-block-start: calc(var(--section-padding) + 200px);
    border-block-end: 1px solid var(--link-color-active-bg);
}

.footer-top .container {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr .8fr;
    gap: 32px;
}

.footer-brand .footer-text {
    color: var(--main-color);
    margin-block-start: 24px;
}

.footer-list-title {margin-block-end: 24px;}

.footer-link {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-block: 5px;
    color: var(--main-color);
}

.footer-link ion-icon {color: inherit;}

.footer-list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.footer-list ul:first-child { margin-block-end: 24px;}

.footer-list-item ion-icon {
    font-size: 2rem;
    --ionicon-stroke-width: 40px;
}

.footer-bottom {
    padding-block: 30px;
    color: var(--light-gray);
}

.copyright .span {
    display: inline;
    color: var(--maximum-red);
}

/*#endregion footer  */

/*-----------------------------------*\
  #BACKGROUND
\*-----------------------------------*/
/*#region bg */
.bg-color {
    width: 600px;
    height: 600px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: var(--radius-circle);
    filter: blur(200px);
    z-index: -1;
    background: var(--bg-gradient);
}
/*#endregion bg  */

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/
/* #region back-to-top */
.btn-btt {
    position: fixed;
    right: 12px;
    bottom: 12px;
    display: none;
    background: var(--secondary-color);
    color: var(--white);
}

.btn-btt.active { display: flex; }

/*#endregion back-to-top  */